body{
    margin:0;
    font-family:Arial;
    background:#0f172a;
    color:white;
}

.login{
    display:flex;
    justify-content:flex-end;
    padding:20px;
}

.nav-btn{
    color:white;
    text-decoration:none;
    margin-left:10px;
}

.password-box{
    width:300px;
    margin:120px auto;
    text-align:center;
    background:#1e293b;
    padding:30px;
    border-radius:10px;
}

.password-box input{
    width:100%;
    padding:10px;
    margin-top:10px;
}

.password-box button{
    margin-top:15px;
    padding:10px 20px;
    cursor:pointer;
}

#errorText{
    color:red;
    margin-top:10px;
}

header{
    padding:20px;
}

#searchBar{
    width:300px;
    padding:10px;
}

.game-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
    padding:20px;
}
